.Cards {
    display: flex;
    gap: 10px;
    width: 800px;
  }
  .parentContainer{
    width: 100%;
    height: 200px;
  }
  
  @media screen and (max-width: 1200px) {
    .Cards{
      flex-direction: column;
    }
    .parentContainer{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 90%;
    }
  }
  